.adresses {
  width: 100%;
  margin: 4rem auto ;
}

.adresses h2 {
  text-align: center;
  text-decoration: none;
  font-size: 2.5rem;
line-height: 0;
line-height:var(--title-line-height) ;
    text-decoration: underline 0.3rem var(--red-highlight);
    text-underline-offset: 0.5rem;
/* text-decoration-thickness: 0.3rem; */
}
.resto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;   
     font-size: 1.5rem;
     line-height: 1.85rem;
     margin: 0 auto;

}
@media screen and (max-width:900px){
  .resto{
    font-size: 1rem;
    text-align: center;
  }
  .resto strong{
    font-size: 1.2rem;
  }
}

