body{
  width: 100%;
  padding: 0;margin: 0;
}
.menu{
  padding: 0;
margin: 2.5rem auto 4.5rem auto;
}
.menu_header{
  width: 71rem;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  margin-left: 12rem;
  /* height: 6.5rem; */
}
.menu_header h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.menu_header p{
  margin-top: 0;
}
.menu_content {
  padding-top: 4rem;
  padding-bottom: 4.5rem;
  background: var(--white);
  width: 71rem;
  height: 100rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} 
.menu_content img{
  width: 8rem;
  height: 8rem;
}
.menu_content h2{
  font-size: 1.7rem;
}


.menu_header p span{
  color: var(--red-highlight);
}
.menu_content p{
  /* font-size: 1rem; */
  line-height: 2.5rem;
}
.entrees, .plats, .desserts{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
} 
